<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Badge-Generator</title>
    <link href="/styles2.css" rel="stylesheet">
    <link href="/nav.css" rel="stylesheet">
    <link href="/footer.css" rel="stylesheet">
    <link rel="icon" href="https://cdn-icons-png.flaticon.com/512/433/433369.png"> 
</head> 
<body style="width: 100%;"> 
    <header class="main-head">
        <nav>
            <div class="logo"><a href="/"><img src="/images/logo.svg"><h1>Badge-Generater</h1></a></div>
          <ul class="nav-links" style="color: white;">
            <li><a href="/">HOME</a></li>
            <li><a href="/badge/user">STUDENT</a></li>
            <li><a href="/badge/admin">ADMIN</a></li>
          </ul>
          <div class="burger">
            <span class="line1"></span>
            <span class="line2"></span>
            <span class="line3"></span>
          </div>
        </nav>
      </header>
      <script>
        const nav = document.querySelector(".nav-links");
        const burger = document.querySelector(".burger");
        const links = nav.querySelectorAll("a");
        
        burger.addEventListener("click", () => {
        nav.classList.toggle("nav-open");
        burger.classList.toggle("toggle");
        });
        
        links.forEach(link => {
        link.addEventListener("click", () => {
        nav.classList.toggle("nav-open");
        burger.classList.toggle("toggle");
        });
        });
        
        </script>
    <main>
        <link rel="stylesheet" href="/creater.css">
        <h2 class="form-title">
            Edit Details
        </h2>
        <form action="/badge/edit/<%=badge._id%>?_method=PUT" method="post" enctype="multipart/form-data">
            <!-- collumn-1 -->
            <div class="col-1">
                <div class="name">
                    <label for="name">Name :
                    </label>
                    <input placeholder="Student's Name" type="text" name="name" value="<%= badge.name %>"  required/>
                </div>

                <div class="rollno"><label for="rollno">Roll-No :
                    </label>
                    <input type="text" placeholder="ex. U20CS020" value="<%= badge.rollNumber %>" name="rollNumber" id=""  required/>
                </div>

                <div class="institute-name">
                    <label for="institute-name">Institute-name :
                    </label>
                    <input type="text" name="institute" placeholder=" Institute' Name" disabled value="<%= badge.institute %>"  required/>
                </div>

                <div class="passing"><label for="passing">Duration :
                </label>
                    <input type="text" name="duration" id="passing" value="<%= badge.duration %>" placeholder="ex. 2020-2024" required/>
                </div>

                <div class="photo-id">
                    <label for="photo-id">Photo-ID :

                    </label>
                    <img style="max-width: 9rem;
                    width: 12vh;
                    height: 12vh;
                    margin: 0;
                    transition: all 0.3s ease-in-out;" src="<%=badge.image.url%>" alt="">
                    <button onclick="document.getElementById('photo-id').click()">UPLOAD</button>
                    <input type="file" name="images" id="photo-id" >
                </div>
            </div>

            <!-- collumn-2 -->
            <div class="col-2">

                <div class="contact"><label for="contact">Contact :

                </label>
                    <input type="number" name="mobile" min="1000000000" max="9999999999" value="<%= badge.mobile %>" placeholder="Contant number" required>
                </div>
                <div class="contact"><label for="contact">Email :

                </label>
                    <input type="email" name="email" value="<%= badge.email %>" placeholder="ex. user34@gmail" required>
                </div>

                <div class="department"><label for="department">Department :
                </label>
                    <input type="text" name="department" value="<%=badge.department %>" placeholder="ex. Mechanical Engineering" required/>
                </div>

                <div class="address"><label for="address">Address :

                </label>
                    <textarea style="margin: 0px;
                    height: 56px;
                    width: auto;" type="text" name="address" placeholder="Address"><%= badge.address %></textarea>
                </div>

                <div class="signature">
                    <label for="signature">Signature :</label>
                    <img style="max-width: 9rem;
                    width: 12vh;
                    height: 12vh;
                    margin: 0;
                    transition: all 0.3s ease-in-out;" src="<%=badge.signature.url%>" alt="">
                    <button onclick="document.getElementById('signature').click()">UPLOAD</button>
                    <input type="file" name="images" id="signature" >
                </div>
            </div>
                <div class="fin">
                    <button id="clear" type="reset">Clear</button>
                    <button type="submit">Submit</button>
                </div>
        </form>
    </main>
    <footer id="footer">
        <h4>Badge-Generator &copy; 2021</h4>
        <div id="contri">
              <ul>
              <lh>Contributors</lh>
              <li><a href="https://github.com/ayush572" target="_blank">Ayush Daga</a></li>
              <li><a href="https://github.com/Aniumbott" target="_blank">Aniket Rana</a></li>
              <li><a href="https://github.com/Harshil-Jani" target="_blank">Harshil Jani</a></li>
              <li><a href="https://github.com/Rameshchandrapola" target="_blank">Pola Ramesh Chandra</a></li>
              <li><a href="https://github.com/rahuljadav21" target="_blank">Rahul Jadav</a></li>
              </ul>
            </div>
      </footer>

<style>
    @media screen and (max-width: 870px) {
footer{
display: none;
}
}
</style>
</body>
</html>
